* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

header {
    padding:20px;
    margin-bottom:24px;
    background-color: gray;
    text-align:center;
    color:white;
}

footer {
    padding:20px;
    margin-top:24px;
    background-color: black;
    text-align:center;
    color:white;
}

/* I assume this is how we should be setting up Mobile-First Base Styles?
We weren't taught how to do this in the lab's walk-along coding session. */
@media (max-width:767px) {
    article {
        width:100%;
        margin-bottom:16px;
    }
}

@media (min-width:768px) {
    article {
        display:inline-block;
        width:30%;
        margin-right: 3%;
        vertical-align: top;
    }
}