*{
    margin: 0px;
    padding: 0px;
}

header{
    padding:20px;
    margin-bottom:24px;
    background-color: gray;
    text-align:center;
    color:white;
}

footer{
    padding:20px;
    margin-top:24px;
    background-color: black;
    text-align:center;
    color:white;
}

@media(min-width:768px){
    article{
        display:inline-block;
        width:30%;
        margin-right: 3%;
        vertical-align: top;
    }
}